<div>
    {{#ifEquals username.usr_cargo 'Suporte'}}
        <a class="cursor-pointer" href="/userProfile">{{username.usr_nome}} - {{username.usr_cargo}}</a>
    {{else}}
        <a class="cursor-pointer" href="/userProfile">{{username.usr_nome}} - {{username.usr_cargo}}</a>
    {{/ifEquals}}

</div>