<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fornecedores</title>
    <base href="/">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="css/listagem.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="shortcut icon" href="img/box.png" type="image/x-icon">
</head>
<body class="bg-gray-100">

{{> nav}}

<div class="mt-20 sm:ml-64 mx-auto w-fit">
    <div class="flex flex-col justify-center items-center">
        <div class="w-5/6">
            <h1 class="bg-gray-50 py-2 px-4 rounded-t-lg text-center uppercase">Listagem de Estoque</h1>
            <table class="w-full">
                <thead class="">
                <tr class="hidden sm:flex">
                    <th class="w-full pl-9 py-3 bg-gray-50 sm:text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Patrimonio ID
                    </th>
                    <th class="w-full pl-9 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Localização ID
                    </th>
                    <th class="w-full pl-9 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Quantidade
                    </th>
                    <th class="w-full pl-9 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Ações
                    </th>
                </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                {{#each estoque}}
                    <tr class="flex flex-col w-full sm:flex-row">
                        <td class="w-full px-6 py-4 whitespace-no-wrap text-center align-middle">{{pat_id}}</td>
                        <td class="w-full px-6 py-4 whitespace-no-wrap text-center align-middle">{{loc_nome}}</td>
                        <td class="w-full px-6 py-4 whitespace-no-wrap text-center align-middle">{{quantidade}}</td>
                        <td class="w-full px-6 py-4 whitespace-no-wrap text-center align-middle">
                            <table class="mx-auto sm:m-0">
                                <tr class="">
                                    <td class="flex w-full">
                                        <a href="/editarEstoque/{{estoque_id}}"
                                           class="px-2">
                                            <img height="25px" width="25px" src="../img/edit.png">
                                        </a>
                                        <a id="deletar" href="/deletarEstoque/{{estoque_id}}"
                                           onclick="removerFornecedor()"
                                           class="">
                                            <img height="25px" width="25px" src="../img/delete.png">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>