<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="shortcut icon" href="img/box.png" type="image/x-icon">
    <title>Document</title>
</head>

<body>
{{> nav}}
<div class="items-center h-screen text-center justify-center ml-230 flex flex-col">
    <div class="w-1000 flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
        <!-- Left container -->
        {{#if errorMessage}}
            {{> errorCard}}
        {{/if}}
        <div class="flex w-full space-x-6">
            <div class="h-full w-full bg-white p-6 mb-6 rounded-lg shadow-md">
                <form id="form" action="/editPermissions/atualizarCargoUsuario/1" method="POST">
                    <!-- Include the searchUsers partial -->
                    <div class="painel-selecao">
                        <div class="text-center">
                            <h1 class="m-0">Selecione um Usuário</h1>
                        </div>
                        <div class="painel-search-box flex justify-center items-center">
                            <label for="userSearch">
                                <img src="../img/search.png" alt="Search Icon" class="search-icon">
                            </label>
                            <input type="text" id="userSearch" oninput="searchUsers()" placeholder="Digite o nome do usuário..."
                                   class="w-full ml-2 px-2 py-1 border border-gray-300 rounded">
                        </div>
                        <div class="table-wrapper">
                            <table class="fl-table w-full border-collapse">
                                <thead>
                                <tr>
                                    <th class="border p-2">USUÁRIO</th>
                                </tr>
                                </thead>
                                <tbody id="userTableBody">

                                {{#each users}}
                                    <tr class="">
                                        <td class="border p-2 cursor-pointer bg-dark">{{usr_nome}}</td>
                                    </tr>
                                {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="cargos" class="block text-sm font-medium text-gray-600">Cargos do Usuário</label>
                        <select id="cargos" name="cargo_id" multiple
                                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
                            <option value="1" {{#ifEquals username.usr_cargo 1}} selected {{/ifEquals}}>Gestor</option>
                            <option value="2" {{#ifEquals username.usr_cargo 2}} selected {{/ifEquals}}>Administrador</option>
                            <option value="3" {{#ifEquals username.usr_cargo 3}} selected {{/ifEquals}}>Supervisor</option>
                            <option value="4" {{#ifEquals username.usr_cargo 4}} selected {{/ifEquals}}>Comum</option>
                        </select>
                    </div>

                    <div class="flex items-center justify-end">
                        <button type="submit"
                                class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
                            Salvar Permissões
                        </button>
                    </div>
                </form>
            </div>
            <div class="h-full w-1/3 bg-white p-6 mb-6 rounded-lg shadow-md">
                <form action="/editPermissions/atualizarPermissoes/{{userId}}" method="POST">
                    <div class="mb-4">
                        <label for="roles" class="block text-sm font-medium text-gray-600">Permissões</label>
                        <div>pesquisa aqui</div>
                    </div>

                    <div class="mb-4">
                        <label for="permissoes" class="block text-sm font-medium text-gray-600">Permissões
                            Associadas</label>

                        <!-- Adicione dinamicamente as permissões associadas às funções selecionadas -->
                        <div class="mt-2 space-y-2">
                            {{#each permissoes}}
                                <div class="flex items-center">
                                    <input type="checkbox" id="permissao{{@index}}" name="permissoes[]"
                                           value="{{this}}" class="form-checkbox h-5 w-5 text-blue-500"
                                    >
                                    <label for="permissao{{@index}}"
                                           class="ml-2 text-sm text-gray-700">{{perm_nome}}</label>
                                </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="flex items-center justify-end">
                        <button type="submit"
                                class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
                            Salvar Permissões
                        </button>
                    </div>
                </form>
            </div>
            <div class="h-full w-1/3 bg-white p-6 mb-6 rounded-lg shadow-md">
                <form action="/editPermissions/atualizarRoles/{{userId}}" method="POST">
                    <div class="mb-4">
                        <label for="cargos" class="block text-sm font-medium text-gray-600">Cargos</label>

                        <!-- Adicione dinamicamente as permissões associadas às funções selecionadas -->
                        <div class="mt-2 space-y-2">
                            {{#each cargos}}
                                <div class="flex items-center">
                                    <input type="checkbox" id="cargo{{@index}}" name="cargos[]" value="{{this}}"
                                           class="form-checkbox h-5 w-5 text-blue-500"
                                    >
                                    <label for="cargo{{@index}}"
                                           class="ml-2 text-sm text-gray-700">{{cargo_nome}}</label>
                                </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="flex items-center justify-end">
                        <button type="submit"
                                class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
                            Salvar Permissões
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>