<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário - Cadastrar Bem</title>
    <base href="/">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cadastro.css">
    <script src="js/cadastro.js"></script>
</head>

<body>
    <div class="aside-menu">
        <div class="logo">
            <a target="_blank" href="home.html">
                <img height="150px" width="150px" src="../img/logo-inventario.png">
            </a>
        </div>
        <hr class="line">
        <div class="nav">
            <ul>
                <li><a href="home">PAINEL</a></li>
                <li><a href="cadastrarBem">CADASTRAR BEM</a></li>
                <li><a href="listarBem">LISTAGEM DE BENS</a></li>

                <!-- a opção editar perfil ainda não funciona, passará
                a funcionar quando implementar a sessão do usuário logado -->
                <li><a href="">EDITAR PERFIL</a></li>

                <li><a href="login">SAIR</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <h1></h1>
        <div class="card">
            <div  class="voltar">
                <a href="/home" class="voltar">↩ Voltar</a>
            </div>

            <form id="form" action="atualizarBem/{{id}}" method="post">
                Editando o id: {{id}}<br>
                Editando Item: {{item.nome}}
                <div>
                    <br>
                    <div style="" class="block">
                        <small></small>
                        <label for="descricao">Nome</label>
                        <input value="{{item.nome}}" name="descricao" type="text" id="descricao" placeholder="Ex. caneta, cadeira">
                    </div>
                </div>

                <div>
                    <br>
                    <div class="block">
                        <small></small>
                        <label for="fornecedor">Fornecedor</label>
                        <input value="{{item.fornecedor}}" name="fornecedor" type="text" placeholder="Razão Social do fornecedor" id="fornecedor">
                    </div>
                </div>

                <div>
                    <br>
                    <div class="block">
                        <small></small>
                        <label for="quantidade">Quantidade</label>
                        <input value="{{item.quantidade}}" name="quantidade" type="int" id="quantidade" placeholder="Definir Quantidade">
                    </div>
                </div>

                <div>
                    <br>
                    <div class="data">
                        <small></small>
                        <label for="data">Data de Aquisição</label>
                        <input value="{{item.dataAquisicao}}" class="data" name="data_aquisicao" type="date" id="data" value="2023-07-22" placeholder="Definir Data">
                    </div>
                </div>
                <a href="/atualizarBem/{{id}}">Salvar href</a>
                <button type="submit">Salvar</button>

            </form>
        </div>
    </div>

</body>

<script src="js/cadastro.js"></script>

</html>
