<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Ticket</title>
    <base href="/">
    <link rel="shortcut icon" href="img/box.png" type="image/x-icon">
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body class="bg-gray-100">

<div class="bg-white p-4 flex justify-between items-center menu_top">
    <a href="/" class="text-gray-800 "><p>Voltar para o site</p></a>
    <div class="font-semibold text-gray-800 text-xl">Suporte</div>
    <div class="list_ticket flex items-center gap-10">
        {{> loggedUser}}
        <a href="/suporte/tickets">Listagem de ticket</a>
        <a href="/cadastrarTicket">Criar ticket</a>
    </div>
</div>

<!-- Card de detalhes do ticket -->
<div class="container mx-auto mt-8 container_box">
    <div class="max-w-3xl mx-auto bg-white rounded-lg overflow-hidden shadow-lg max-h-screen">
        <div class="px-6 py-4">
            <h2 class="text-xl font-semibold text-gray-800">Detalhes do Ticket</h2>
            <p class="text-gray-600 mt-2"><span class="font-semibold">ID:</span> #{{ticket.ticket_id}}</p>
            <p class="text-gray-600"><span class="font-semibold">Assunto:</span> {{ticket.ticket_assunto}}</p>
            <p class="text-gray-600"><span class="font-semibold">Descrição:</span> {{ticket.ticket_descricao}}</p>
        </div>
        <div class="px-6 py-4 bg-gray-100">
            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full {{prioridadeClass ticket.ticket_prioridade}}">Prioridade: {{ticket.ticket_prioridade}}</span>
            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full {{statusClass ticket.ticket_status}}">Status: {{ticket.ticket_status}}</span>

        </div>
        <!--            <div class="px-6 py-4">-->
        <!--                <a href="/suporte/tickets/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Voltar</a>-->
        <!--            </div>-->
    </div>
</div>

<!-- Seção de Comentários -->
<div class="container mx-auto mt-8 container_box">
    <div class="max-w-3xl mx-auto bg-white rounded-lg overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <h2 class="text-xl font-semibold text-gray-800">Comentários</h2>
            <ul>
                {{#each ticket.comentarios}}
                    <li class="border-b border-gray-200 py-2">
                        <p class="text-gray-600 font-semibold">{{usuario.usr_nome}} <span
                                class="bg-gray-200 text-xs text-black/20 text-center p-1 rounded">{{usuario.usr_cargo}}</span>
                        </p>
                        <p class="text-gray-500 text-xl">{{this.cmnt_texto}}</p>
                        <p class="text-gray-400 text-xs">{{truncateDate this.createdAt 44}}</p></li>
                {{/each}}
            </ul>
        </div>
        <div class="px-6 py-4">
            <form action="/adicionarComentario/{{ticket.ticket_id}}" method="POST">
                <input type="hidden" name="ticket_id" value="{{ticket.ticket_id}}">
                <div class="mt-2">
                    <label class="block text-gray-600">Adicionar Comentário:</label>
                    <textarea name="comentario" class="w-full mt-1 p-2 border rounded"
                              placeholder="Escreva seu comentário..."></textarea>
                </div>
                <div class="mt-4">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Adicionar Comentário
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>