<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário - Cadastrar Bem</title>
    <base href="/">
    <link rel="stylesheet" href="css/estilo.css">
</head>

<body>
{{> nav}}

<div class="container">
    <h1></h1>
    <div class="card">
        <div class="voltar">
            <a href="/fornecedores" class="voltar">↩ Voltar</a>
        </div>

        <form id="form" action="/atualizarFornecedor/{{id}}" method="post">
            Editando o id: {{for_id}}<br>
            Editando Fornecedores: {{fornecedor.for_nome}}
            <div>
                <br>
                <div style="" class="block">
                    <small></small>
                    <label for="nome">Nome</label>
                    <input value="{{fornecedor.for_nome}}" name="nome" type="text" id="nome"
                           placeholder="Ex. caneta, cadeira">
                </div>
            </div>

            <div>
                <br>
                <div class="block">
                    <small></small>
                    <label for="telefone">Telefone</label>
                    <input value="{{fornecedor.for_telefone}}" name="telefone" type="tel"
                           placeholder="Razão Social do fornecedor" id="telefone">
                </div>
            </div>

            <div>
                <br>
                <div class="block">
                    <small></small>
                    <label for="email">Email</label>
                    <input value="{{fornecedor.for_email}}" name="email" type="email"
                           placeholder="Razão Social do fornecedor" id="email">
                </div>
            </div>

            <button type="submit" onclick="showMessage()">Salvar</button>

        </form>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/fornecedores.js"></script>
</html>
