<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário - Cadastrar Bem</title>
    <base href="/">
    <link rel="stylesheet" href="css/estilo.css">

    <script src="js/cadastro.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
{{> nav}}

<div class="container">
    <h1></h1>
    <div class="card">
        <div class="voltar">
            <a href="/fornecedores" class="voltar">↩ Voltar</a>
        </div>

        <form id="form" action="/atualizarFornecedor/{{id}}" method="post">
            Editando o id: {{for_id}}<br>
            Editando Fornecedores: {{fornecedor.for_nome}}
            <div>
                <br>
                <div style="" class="block">
                    <small></small>
                    <label for="nome">Nome</label>
                    <input value="{{fornecedor.for_nome}}" name="nome" type="text" id="nome"
                           placeholder="Ex. caneta, cadeira">
                </div>
            </div>

            <div>
                <br>
                <div class="block">
                    <small></small>
                    <label for="telefone">Telefone</label>
                    <input value="{{fornecedor.for_telefone}}" name="telefone" type="tel"
                           placeholder="Razão Social do fornecedor" id="telefone">
                </div>
            </div>

            <div>
                <br>
                <div class="block">
                    <small></small>
                    <label for="email">Email</label>
                    <input value="{{fornecedor.for_email}}" name="email" type="email"
                           placeholder="Razão Social do fornecedor" id="email">
                </div>
            </div>

            <button type="submit" onclick="showToastifyMessage()">Salvar</button>

        </form>
    </div>
</div>

</body>
<script>
    function showToastifyMessage() {
        Toastify({
            text: "This is a toast",
            duration: 3000,
            destination: "https://github.com/apvarun/toastify-js",
            newWindow: true,
            close: true,
            gravity: "top", // `top` or `bottom`
            position: "left", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
                background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
            onClick: function(){} // Callback after click
        }).showToast();
    }
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script src="js/cadastro.js"></script>

</html>
