<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário - Cadastrar Item</title>
    <base href="/">
    <script src="js/cadastro.js"></script>
    <link rel="stylesheet" href="css/estilo.css">

</head>

<body>
{{> nav}}

<div class="container">
    <h1></h1>
    <div class="card">
        <div class="voltar">
            <a href="/itens" class="voltar">↩ Voltar</a>
        </div>

        <form id="form" action="/atualizarPatrimonio/{{id}}" method="post">
            Editando o id: {{id}}<br>
            Editando Patrimônio: {{patrimonio.pat_nome}}
            <div>
                <br>
                <div style="" class="block">
                    <small></small>
                    <label for="nome">Nome</label>
                    <input value="{{patrimonio.pat_nome}}" name="nome" type="text" id="nome"
                           placeholder="Ex. caneta, cadeira">
                </div>
            </div>

            <div>
                <br>
                <div class="block">
                    <small></small>
                    <label for="quantidade">Vida Útil</label>
                    <input value="{{patrimonio.pat_vida_util}}" name="vida_util" type="number" id="vida_util"
                           placeholder="Definir Vida Útil">
                </div>
            </div>

            <div>
                <br>
                <div class="data">
                    <small></small>
                    <label for="data">Data de Aquisição</label>
                    <input value="{{patrimonio.pat_data_aquisicao}}" class="data" name="data_aquisicao" type="date" id="data_aquisicao"
                           value="2023-07-22" placeholder="Definir Data">
                </div>
            </div>
            <button type="submit">Salvar</button>

        </form>
    </div>
</div>

</body>

</html>
