<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário - Cadastrar Item</title>
    <base href="/">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cadastro.css">
    <script src="js/cadastro.js"></script>
    <link rel="stylesheet" href="css/template.css">
</head>

<body>
{{> nav}}

<div class="container">
    <h1></h1>
    <div class="card">
        <div class="voltar">
            <a href="/itens" class="voltar">↩ Voltar</a>
        </div>

        <form id="form" action="/atualizarItem/{{id}}" method="post">
            Editando o id: {{id}}<br>
            Editando Item: {{item.it_nome}}
            <div>
                <br>
                <div style="" class="block">
                    <small></small>
                    <label for="descricao">Nome</label>
                    <input value="{{item.it_nome}}" name="descricao" type="text" id="descricao"
                           placeholder="Ex. caneta, cadeira">
                </div>
            </div>

            <div>
                <br>
                <div class="block">
                    <small></small>
                    <label for="quantidade">Quantidade</label>
                    <input value="{{item.it_quantidade}}" name="quantidade" type="int" id="quantidade"
                           placeholder="Definir Quantidade">
                </div>
            </div>

            <div>
                <br>
                <div class="data">
                    <small></small>
                    <label for="data">Data de Aquisição</label>
                    <input value="{{item.it_dataAquisicao}}" class="data" name="data_aquisicao" type="date" id="data_aquisicao"
                           value="2023-07-22" placeholder="Definir Data">
                </div>
            </div>
            <button type="submit">Salvar</button>

        </form>
    </div>
</div>

</body>

<script src="js/cadastro.js"></script>

</html>
