tml>
<html lang="pt-center">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fornecedores</title>
    <base href="/">
    <link rel="stylesheet" href="css/listagem.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="shortcut icon" href="img/box.png" type="image/x-icon">
</head>
<body class="bg-gray-100">
{{> nav}}
<div class="mt-28 sm:mt-44 sm:ml-64 mx-auto w-fit">
    <div class="flex flex-col justify-center items-center">
        <div class="flex justify-end bg-gray-50 add_button">
            <button class="font-bold py-2 px-4 rounded"><a href="/cadastrarFornecedor">Adicionar Fornecedores</a></button>
        </div>
        <div class="w-5/6">
            <h1 class="bg-gray-50 py-2 px-4 rounded-t-lg text-center uppercase">Listagem de Fornecedores</h1>
            <table class="w-full">
                <thead class="">
                <tr class="hidden sm:flex">
                    <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Nome
                    </th>
                    <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Telefone
                    </th>
                    <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Email
                    </th>
                    <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Ações
                    </th>
                </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                {{#each fornecedores}}
                    <tr class="flex flex-col w-full sm:flex-row">
                        <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center align-middle">{{for_nome}}</td>
                        <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center align-middle">{{for_telefone}}</td>
                        <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center align-middle">{{for_email}}</td>
                        <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center align-middle">
                            <table class="mx-auto sm:m-0">
                                <tr class="">
                                    <td class="flex w-full">
                                        <a href="/editarFornecedor/{{for_id}}"
                                           class="px-2">
                                            <img height="25px" width="25px" src="../img/edit.png">
                                        </a>
                                        <a id="deletar" href="/deletarFornecedor/{{for_id}}"
                                           onclick="removerFornecedor()"
                                           class="">
                                            <img height="25px" width="25px" src="../img/delete.png">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>