<!DOCTYPE html>
<html class="overflow-x-hidden" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saídas de Patrimônios</title>
    <base href="/">
    <link rel="stylesheet" href="css/listagem.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="shortcut icon" href="img/box.png" type="image/x-icon">

</head>
<body class="bg-gray-100">
{{> nav}}
<div class="mt-28 sm:mt-44 sm:ml-64 mx-auto w-fit">
    <div class="flex flex-col justify-center items-center">
        <div class="flex justify-end bg-gray-50 add_button">
            <button class="font-bold rounded"><a href="/patrimonio/saida/novaSaida">Nova Saída</a></button>
        </div>
        <div class="w-5/6 shadow-xl">
            <h1 class="bg-gray-50 py-2 px-4 rounded-t-lg text-center uppercase">Saídas Efetuadas</h1>
            <table class="w-full">
                <thead class="">
                <tr class="hidden sm:flex">
                    <th class="w-full py-3 bg-gray-50 sm:text-centereft text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Mov ID
                    </th>
                    <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Pat Nome
                    </th>
                    <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Fornecedor
                    </th>
                    <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Responsável
                    </th>
                    <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Data Modificação
                    </th>
                    <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Tipo
                    </th>
                </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                {{#each saidas}}
                    <tr class="flex flex-col w-full sm:flex-row text-center border-b-4 sm:border-none">
                        <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center"><span class="mb-2 justify-center text-green-500 flex sm:hidden">Mov ID:</span>{{mov_id}}</td>
                        <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center"><span class="mb-2 justify-center text-green-500 flex sm:hidden">Pat Nome:</span>{{patrimonio.pat_nome}}</td>
                        <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center"><span class="mb-2 justify-center text-green-500 flex sm:hidden">Fornecedor:</span>{{patrimonio.pat_for_id}}</td>
                        <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center"><span class="mb-2 justify-center text-green-500 flex sm:hidden">Responsável:</span>{{mov_responsavel}}</td>
                        <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center"><span class="mb-2 justify-center text-green-500 flex sm:hidden">Data Modificação:</span>{{truncateDate this.updatedAt 44}}</td>
                        <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center"><span class="mb-2 justify-center text-green-500 flex sm:hidden">Tipo:</span>{{mov_tipo}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>